@model JusticeWebApp.Models.LoginModel

@using (Html.BeginForm("Login", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
        </ol>
        <input class="btn btn-lg btn-blk" type="submit" value="Log in" />
    </fieldset>

    if (Request.IsAuthenticated)
    {
        <text>
            Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        </text>
    }
    else
    {
        <legend>New User?</legend>
        <button class="btn btn-sm btn-blk" type="submit">
            @Html.ActionLink("Register", "Register", "Account", new { Style = "color: white" }) 
        </button>
    }
}
