@model JusticeWebApp.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}
@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

<div id="content">

    <section id="loginForm" class="">
        <div class="container text-center">
                <article id="01" class="page-block col-md-12 page hentry">
                    <hgroup>
                        <h1 class="title lined-long">@ViewBag.Title</h1>
                    </hgroup>
                </article>
        </div>

        <div class="container center-block">
                <article id="01" class="page-block col-md-12 page hentry">
                    <p class="message-success center-block">@ViewBag.StatusMessage</p>
                    <p class="e-block-centered">You're logged in as <strong>@User.Identity.Name</strong>.</p>
                    <button class="btn btn-sm btn-blk" type="submit" style="display: block; margin: 0 auto;">
                     @using (Html.BeginForm("LogOff", "Account", FormMethod.Post,
                            new { id = "logoutForm" }))
                        {

                            @Html.AntiForgeryToken()
                            <a style="color: white;" href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>

                        }
                    </button>

                    @if (ViewBag.HasLocalPassword)
                    {
                        @Html.Partial("_ChangePasswordPartial")
                    }
                    else
                    {
                        @Html.Partial("_SetPasswordPartial")
                    }
                </article>
        </div>

        <div class="e-divider-3"></div>
        <div class="text-center"><div class="ornament-divider-fullwidth"><i class="flaticon-art-3"></i></div></div>
        <div class="e-divider-3"></div>

        <div class="container center-block">
            <div class="row">
                <article id="01" class="page-block col-md-12 page hentry">
                    <h3 class="e-block-centered">Add an external login</h3>
                    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
                </article>
            </div>
        </div>

    </section>
</div>

