<!DOCTYPE html>
<html lang="en">
<!--[if IE 9]>
<html class="ie9" lang="en">    <![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="en">    <![endif]-->
<head>
    <title>@ViewBag.Title - Justice Ellen's Blog</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel=icon href=~/Content/Template/img/favicon.ico sizes="16x16" type="image/png">
    <!-- Preloader css must be first -->
    <link href="~/Content/Template/style/preloader.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen" />
    <!-- JS -->
    <script src="~/Scripts/modernizr.custom.js"></script>
    <!-- CSS -->
    <link href="~/Content/Template/style/bootstrap.min.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/Template/style/font-awesome.min.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/Template/style/owl.carousel.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/Template/style/style.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Template/style/flaticon.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen">
    <!-- Google Analytics -->
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-40696437-14', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='//www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
</head>
<body class="boxed">
    @RenderBody()
    <!--Pre-Loader-->
    <div id="preloader"><img src="~/Content/Template/img/preloader.gif" alt="01"></div>
    <!--/Pre-Loader-->
    <div id="wrapper" class="">
        <!-- Content -->
        <div id="page-content-wrapper" class="content-wrap">
            <!-- Header -->
            <header class="cbp-af-header toggled">
                <div class="cbp-af-inner">
                    <div class="navbar navbar-default" role="navigation">
                        <div class="container">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <h1 class="text-center">
                                    <a>@Html.ActionLink("Justice Ellen", "Index", "Home")</a>
                                </h1>
                                <span class="small subtitle"><span class="lined">Mindfulness, Health, and above all: Love</span></span>
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                        </div>
                        <div class="container">
                            <div class="bordered">
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <nav class="collapse navbar-collapse navbar-ex1-collapse e-centered">
                                    <!--<i class="nav-decor-left flaticon-christmas-rose"></i>-->
                                    <ul class="nav navbar-nav">                                        
                                        <li>@Html.ActionLink("Home", "Index",  "Home")</li>
                                        <li>@Html.ActionLink("Blog Posts", "Post", "Home")</li>
                                        <li>@Html.ActionLink("About", "About", "Home")</li>
                                        <li>@Html.ActionLink("Contact Me", "Contact", "Home")</li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="e-divider-1 bg-color00"></div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- / Header -->
            <!-- Content Sections -->
            <!--Instagram Section-->
            <section id="instagram">
                <div class="owl-carousel owl-theme">
                    <div class="container">
                        <div class="text-center"><div class="ornament-divider-fullwidth"><i class="flaticon-art-3"></i></div></div>
                        <div class="text-center">
                            <h3 class="font-accident-two-normal lined e-uppercase">Enjoy My Instagram Feed</h3>
                            <!--<h5 class="font-accident-one-bold e-uppercase hovercolor">Working hard and making the success</h5>-->
                            <!--<div class="e-divider-1"></div>-->
                            <p class="small color05">
                                Maecenas mattis ut mauris vel faucibus. Fusce vehicula semper pulvinar. Cras blandit orci sed augue vehicula mollis.
                                <br>Interdum et malesuada fames ac ante ipsum primis in faucibus.
                            </p>
                        </div>
                        <div class="e-divider-1"></div>
                            <div class="container">
                                <div class="owl-carousel owl-theme">
                                    <div class="item">
                                        <div class="col-xs-4"><img src="~/Content/Template/img/JusticeInstagram/justiceWebsite.jpg" class="img-responsive" alt="01"></div>
                                        <div class="col-xs-4"><img src="~/Content/Template/img/JusticeInstagram/justiceWebsite3.jpg" class="img-responsive" alt="01"></div>                                   
                                        <div class="col-xs-4"><img src="~/Content/Template/img/JusticeInstagram/justiceWebsite2.jpg" class="img-responsive" alt="01"></div>
                                    </div>
                                    <div class="item">
                                        <div class="col-xs-4"><img src="~/Content/Template/img/JusticeInstagram/justiceWebsite4.jpg" class="img-responsive" alt="01"></div>
                                        <div class="col-xs-4"><img src="~/Content/Template/img/JusticeInstagram/justiceWebsite6.jpg" class="img-responsive" alt="01"></div>
                                        <div class="col-xs-4"><img src="~/Content/Template/img/JusticeInstagram/justiceWebsite5.jpg" class="img-responsive" alt="01"></div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </section>
                        <!--/Instagram Section-->
                        <div class="e-divider-3"></div>
                        <!-- /Content Sections -->
                        <!-- footer -->
                        <footer>
                            <div id="footer-wrapper" class="">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 text-left">
                                            <div class="footer-sign">
                                                <i class="flaticon-beautiful-lotus-flower"></i>
                                            </div>
                                            <div class="footer-title">
                                                <h2 class="font-accident-two-normal darkrose uppercase">Justice Ellen</h2>
                                                <span class="small subtitle darkrose">Mindfulness, Health, Love</span>
                                                <div class="e-divider-2"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <!--<div class="e-divider-1"></div>-->
                                            <div class="follow">
                                                <ul class="list-inline social">
                                                    <li><a target="_blank" href="https://www.facebook.com/justice.allegar" class="rst-icon-facebook"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a target="_blank" href="https://www.pinterest.com/allegar/" class="rst-icon-pinterest"><i class="fa fa-pinterest"></i></a></li>
                                                    <li><a target="_blank" href="https://www.instagram.com/lovelyjlorton/" class="rst-icon-instagram"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12" style="margin-left: 60px; margin-top: 40px;">
                                        <div class="row">
                                            <div class="col-sm-7 five-three">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="infoblock">
                                                            <!-- Contacts Widget -->
                                                            <div class="navlinks">
                                                                <a href="#!"><p>Story</p></a>
                                                                <a href="#!"><p>Travel</p></a>
                                                                <a href="#!"><p>Fashion Design</p></a>
                                                            </div>
                                                            <!-- / Contacts Widget -->
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="flaticon-filler">
                                                            <div class="ornament-divider-fullwidth"><i class="flaticon-lily"></i></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="infoblock">
                                                            <div class="navlinks">
                                                                <a href="#!"><p>Brands</p></a>
                                                                <a href="#!"><p>Schedule</p></a>
                                                                <a href="#!"><p>Blog</p></a>
                                                            </div>
                                                        </div>
                                                    </div><!-- end inner row -->
                                                </div>
                                            </div>
                                            <div class="col-sm-5 five-two">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="flaticon-filler">
                                                            <div class="ornament-divider-fullwidth"><i class="flaticon-lily"></i></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="infoblock">
                                                            <div class="navlinks">
                                                                <a href="#!"><p>Portfolio</p></a>
                                                                <a href="#!"><p>Buy</p></a>
                                                                <a href="#!"><p>Featured</p></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- end inner row -->
                                            </div>
                                        </div>​<!-- end outer row -->
                                    </div>
                                </div>
                            </div>
                            <div class="e-divider-1"></div>
                            <div id="copyrights-wrapper" class="bg-color00">
                                <div class="container">
                                    <div class="copyright">
                                        <p> © 2016 <a href="http://neuethemes.net" target="_blank">Justice Ellen</a>. All rights reserved.</p>
                                        <!--<p> Made by <a href="http://neuethemes.net" target="_blank">Neuethemes</a></p>-->
                                    </div>
                                </div>
                            </div>
                        </footer>
                        <!-- /footer -->
                        <!-- Back to Top -->
                        <div id="back-top"><a href="#top"><div class="text-center"><i class="fa fa-arrow-up"></i></div></a></div>
                        <!-- /Back to Top -->
                    </div>
    </div>
    <!-- /Content -->


    <div id="image-cache" class="hidden"></div>

    <!-- JS -->
    <script src="~/Scripts/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/classie.js"></script>
    <script src="~/Scripts/cbpAnimatedHeader.min.js"></script>
    <script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script src="~/Scripts/jquery.stickit.min.js" type="text/javascript"></script>
    <script src="~/Scripts/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="~/Scripts/owl.carousel.min.js" type="text/javascript"></script>

    <!-- Custom scripts -->
    <script src="~/Scripts/script.js" type="text/javascript"></script>

    @RenderSection("scripts", required: false)

</body>
</html>

